.sidebar {
    width: 230px;
    height: 398px;
    background-color: #191919;
    padding: 25px 0px 0px 25px;

}

.title__sidebar {  
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 32px;
}

.sidebar__items {
    list-style-type: none;
}

.sidebar__item a {
    text-decoration: none;
    color: #576067;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;

}

.sidebar__item a:hover {
    color: #8B57C6;
}
